<div th:fragment="fragment-header">

<header>
  <div class="inner">
    <div class="head-container">
      <div class="head-brand"><a href="/">배추도사 무도사</a></div>
      <div class="nav">
        <li class="nav-item" id="button4">병해충</li>
        <li class="nav-item" id="button5">정책/뉴스</li>
        <li class="nav-item" id="button6">
          <a href="/board">커뮤니티</a>
        </li>
      </div>
    </div>
  </div>
</header>
<section class="main">
  <div class="inner">
    <div class="main-container">
      <img src="/img/main.png"/>
      <div class="title-container">
        <div class="title">배추도사 무도사는</div>
        <div class="message">
          작물들을 제 값 받고 팔지 못하고 판매에 대한 스트레스를 받으며 지내시는 농부님들의 고민을 해결할 수 있기를 바랍니다.
        </div>
        </p>
      </div>
    </div>
  </div>
</section>
</div>