* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: black;
    font-family: "spoca Han Sans Neo", "Sans-serif";
}
.write-box {
    float :right;

}
.page-container{
    color: black;
}
/*css selector pdf 확인*/
a {color: #000000 !important; text-decoration:none !important }
a:hover { color:#000000 !important; text-decoration:none !important }
.board_title {
    margin-bottom: 30px;
}
.board_wrap {
    width: 1000px;
    margin-top: 100px;
}
.board_title strong {
    font-size: 3rem;
}
.board_view {
    width: 100%;
    border-top: 2px solid #000;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #ddd;
}

.board_view .info dl:first-child::before {
    display: none;
}
.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 3000px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}
.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1.0rem;
}

.board_view .info dl dt {

}

.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .cont {
    padding: 15px;
    height: 500px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 1.4rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}
.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /*끝에 붙은거 틈 주기*/
    padding: 0 2rem;
    /*class-skill에서 넘치는거 숨김*/
    overflow: hidden;
    border-bottom: 1px solid #e4e4e4;
}

header {
    width: 100%;
    height: 80px;
    padding: 5px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.head-container {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-container .head-brand {
    width: 25%;
    font-weight: bold;
    font-size: 2rem;
}
.nav {
    width: 60%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
}
.nav-item {
    width: 20%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-weight: bold;
}
.main {
    top: 0;
    height: 300px;
    margin-top: 80px;
    background-color: white;
    background-position: center 10%;
    background-repeat: no-repeat;
    z-index: 1;
}
.main-container {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
}
img{
    width: 50%;
    height: 100%;
    padding-right: 1rem;
}
.class-list {
    display: flex;
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    overflow: none;
}
.class-card {
    max-width: 240px;
    /*box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);*/
    border-radius: 8px;
    margin: 0 10px;
    transition: 0.4s;
    flex-shrink: 0;
    background-color: rgba(25, 42, 70, 0.2);
}
.class-card:hover {
    box-shadow: 10px 10px 10px 0px rgba(25, 42, 70, 0.2);
    transform: translate(0, -5px);
}
.class-container {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
}
.class-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.class-type {
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
}
.class-desc {
    width: 100%;
    margin-top: 1rem;
}
.class-detail {
    font-size: 0.9rem;
    color: inherit;
    line-height: 1.5rem;
}
.board_wrap {
    width: 1200px;
    margin: 100px auto;
}

.board_title {
    margin-bottom: 30px;
}
.write_update_delete{
    display: flex;
    justify-content: right;
    margin-top: 5px;
}
.replay-container {
    height: 100px;
    border-bottom: 2px solid;
    margin-bottom: 30px;
}
.replay-sub-container {
    display: flex;
    justify-content: space-between;
}

.replay-id {
    font-size: 1.5rem;
}
.replay-content {
    margin-top: 5px;
    font-size: 1.2rem;
}
.replay-date{
    margin-top:5px;
    display: flex;
    justify-content: space-between;
    font-size:0.8rem;
    opacity: 0.8;
}
.reply-main-container{
    display: flex;
    justify-content: space-between;
}
.subreplay-container{
    width: 60%;
    height: 80%;
    border-bottom: 2px solid;
    margin-bottom: 30px;
    margin-right: 200px;
}
.reply-shift-container{
    width: 160px;
    display: flex;
    justify-content: right;

}
.reply-shift-arrow{
    width: 20%;
}
.policyNews {
    width: 100%;
    background-color: white;
}
.policyNews-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.policy {
    width: 50%;
    height: 100%;
    border-right: 1rem #e4e4e4;
}
.policy-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;
}
.news {
    width: 50%;
    height: 100%;
    border-left: 1rem #e4e4e4;
}
.news-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;
}
.pn-desc {
    color: black;
    font-size: 1rem;
    text-align: left;
}
.pn-detail {
    padding-top: 3px;
    padding-bottom: 3px;
}

@media only screen and (min-width: 1200px) {
    .inner {
        max-width: 1200px;
    }
}